doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Autocomplete!
    link(rel='stylesheet' href='stylesheets/css-reset.css')
    link(rel='stylesheet' href='stylesheets/autocomplete.css')
    script(type='module' src='javascripts/autocomplete.js')
  body
    div.header
      h1(style='text-align: center') Autocomplete demo!
      h3(style='text-align: center') Made from scratch.
    div.app
      p
        input(name='country')