doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Autocomplete!
    link(rel='stylesheet' href='stylesheets/css-reset.css')
    link(rel='styleeshet' href='stylesheets/style.css')
    link(rel='stylesheet' href='stylesheets/autocomplete.css')
    script(src='javascripts/autocomplete.js')
  body
    div.app
      p
        input(name='country')