doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Autocomplete!
    link(rel='stylesheet' href='stylesheets/css-reset.css')
  body
    div.app
      p
        div.autocomplete-wrapper
          input(name='country')
          ul.autocomplete-ui
          div.autocomplete-overlay(style='width 199px;')